{% extends 'base.html' %}
{% block content %}
<center>
    <h1>Stock Manager App</h1>

    <form name="register" action="javascript:window.open('/register/','_self')">
    <input type="submit" value="Register product"/>
    </form>
    <br/>
    <form name="sell" action="javascript:window.open('/sell/','_self')">
        <input type="submit" value="Sell"/>
    </form>
    <br/>
    <form name="buy" action="javascript:window.open('/buy/','_self')">
        <input type="submit" value="Buy"/>
    </form>
    <br/>
    <form name="products" action="javascript:window.open('/products/','_self')">
        <input type="submit" value="Products"/>
    </form>
    <br/>
    <form name="hystory" action="javascript:window.open('/operations/','_self')">
        <input type="submit" value="History"/>
    </form>
</center>
{% endblock %}
