{% extends 'base.html' %}
{% block content %}
<h1>{{ product.name }}</h1>
<p>
    <b>Product ID: </b>{{ product.product_id }}
</p>
<p>
    <b>Price: </b>{{ product.price }}
</p>
<p>
    <b>Stock: </b>{{ product.stock }}{{ product.unit }}
</p>
<form name="delete" action="javascript:window.open('/products/{{product.product_id}}/delete/','_self')">
    <input type="submit" value="Delete" />
</form>
<!-- <button type="input" formmethod="post"
    formaction="javascript:window.open('/delete/','_self')">Delete</button> -->

{% endblock %}