{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<table>
    <tr>
        <th>
            <b>ID</b>
        </th>
        <th>
            <b>Name</b>
        </th>
        <th>
            <b>Price</b>
        </th>
        <th>
            <b>Stock</b>
        </th>
    </tr>
    {% for product in products %}
    <tr>
        <td>
            <a href="/products/{{ product.product_id }}">{{
                product.product_id }}</a>
        </td>
        <td>
            {{ product.name }}
        </td>
        <td>
            {{ product.price }}
        </td>
        <td>
            {{ product.stock }}{{ product.unit }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}